<header class="site-header">

  <div class="wrapper">

    <a class="site-title" style="font-size: 42px; font-weight: 400; color: black;" href="{{ "/" | relative_url }}">
      <div style="margin-left: 3px;" class="logo"></div><div class="logo"></div><div class="logo"></div>
    </a>

    <nav class="site-nav">
      {% for link in site.data.navigation.main %}
        {% if link.url contains "http" %}
          {% assign url = link.url %}
        {% else %}
          {% assign url = link.url | relative_url %}
        {% endif %}
        <a class="page-link internal-link" href="{{ url }}">{{ link.title }}</a>
      {% endfor %}
    </nav>

  </div>

</header>
